*{
    margin: 0;
    padding: 0;
    background-color: #060B28;
    color: #fff;
}
body{
    padding: 1rem;
}
.music-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.music-card img{
    max-width: 100px;
}
.music-card img{
    max-width: 100px;
}
.music-card .play button{
    border: none;
}
