/* General Settings */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #060b28;
  --nav-bg-color: #151c42;
  --gradient-10: hsl(231, 74%, 10%);
  --gradient-20: hsl(231, 74%, 20%);
  --gradient-30: hsl(231, 74%, 30%);
  --gradient-60: hsl(231, 74%, 60%);
  --gradient-70: hsl(231, 74%, 70%);
  --gradient-80: hsl(231, 74%, 80%);
  --primary-color: #fa64b2;
  --secondary-color: #36abff;

  --text-color: hsl(0, 0%, 100%);
  --text-transparent: hsl(0, 0%, 70%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: var(--text-color);
}

h6 {
  color: var(--text-transparent);
}

.navbar {
  position: fixed;
  bottom: -100px; /* Position de départ hors de l'écran */
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 0.5s ease-in-out; /* Animation pour le mouvement */
  border-radius: 20px 20px 0 0;
}

.navbar.active {
  bottom: 0; /* Position finale après l'animation */
}

.logo {
  margin-right: 10px;
}

.text {
  font-size: 18px;
  font-weight: bold;
}

/* Animation de centrage et de retour */
@keyframes centerHeader {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px); /* Fait remonter le texte et l'image */
    opacity: 1;
  }
}

/* Styles pour le centrage du contenu au chargement */
.header-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

/* Cacher les éléments derrière pendant le centrage */
body.loading {
  overflow: hidden; /* Empêche le scroll pendant le chargement */
}

.header.loading-complete {
  top: 0; /* Position finale en haut de la page */
  background: transparent;
}

/* Header */

header {
  position: sticky;
  top: 50%; /* Départ au centre */
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0 50px 0;
  transition: top 0.5s ease-in-out; /* Transition douce pour le déplacement */
}

.header img {
  width: 40px;
}

/* Header - Mobile */

@media screen and (max-width: 720px) {
  .header {
    padding: 10px 0 50px 0;
  }
}

/* Footer */

footer {
  display: none;
}

@media screen and (max-width: 720px) {
  footer {
    display: none;
  }
}

/* Music Container */

.music-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px 200px;
  border-radius: 10px;
  padding: 20px 20px;
}

.music-card:last-child {
  margin-bottom: 250px !important;
}

@media screen and (min-width: 721px) {
  .music-card:last-child {
    margin-bottom: 100px;
  }
}

.music-card img {
  max-width: 100px;
  border-radius: 10%;
  margin-right: 20px;
}
.music-info {
  color: var(--text-color);
  flex: 1;
  margin-right: 10px;
}

.music-info p {
  color: var(--text-transparent);
}

.music-card .play button {
  padding-bottom: -2px !important;
  border: none;
}

.music-card .play button {
  background: transparent;
}

.music-card .play svg {
  fill: var(--primary-color);
  background-color: var(--bg-color);
}

.vizualisator {
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.canvasVizualisator {
  width: 100%;
  height: 100px;
  max-width: 500px;
  display: block;
}

/* Music Container - Mobile */

@media screen and (max-width: 720px) {
  .music-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
  }

  .music-card img {
    max-width: 60px;
    border-radius: 10%;
  }

  .music-info {
    flex: 1;
    margin-right: 10px;
  }

  .music-card .play svg {
    fill: var(--primary-color);
    background-color: var(--bg-color);
  }
}

/* Music Banner */

@keyframes slideUp {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 4em;
    opacity: 1;
  }
}

.music-banner-on {
  position: fixed;
  bottom: 4em;
  width: 100%;
  background-color: rgba(14, 21, 57, 0.8);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  padding: 0 0 20px 0;
  opacity: 1;
  animation: slideUp 0.5s ease-out;
}

.music-banner-off {
  display: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 80px;
}

.banner-content img {
  border-radius: 10%;
}

/*PROGRESS BAR*/

.progress-bar {
  content: " ";
  width: 100%;
  height: 3px;
  background-color: #fa64b2;
  margin-bottom: 20px;
}

@media (max-width: 720px) {
  .music-banner-off,
  .music-banner-on {
    box-sizing: border-box;
    padding: 0 0 20px 0;
  }

  .banner {
    height: 2.5em;
    padding-left: 85px;
    padding-right: 70px;
  }
  .banner-content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
  }

  .banner-content img {
    width: 50px;
  }

  h2#banner-title {
    font-size: 0.9rem;
  }

  p#banner-author {
    font-size: 0.8rem;
  }

  #visualizer {
    display: none;
  }
}

/* ------------ MENU ------------ */

li {
  display: inline-block;
}

.nav {
  background-color: var(--nav-bg-color);
  width: 100%;
  height: 4em;
  padding: 0 2em;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 999;
}

.nav__links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5em;
}

@media screen and (max-width: 720px) {
  .nav__links {
    width: 85%;
  }
}

.nav__link button {
  color: var(--text-color);
  font-size: 1.5rem;
  opacity: 0.5;
}
.nav__link button{
  background-color: transparent;
  border: none;
}

.nav__light {
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 2.3em;
  height: 0.2em;
  border-radius: 2px;
  margin-right: -0.1em;
  display: flex;
  justify-content: center;
  transition: 0.3s ease;
}

@media screen and (max-width: 720px) {
  .nav__light {
    width: 2.5em;
    margin-left: -0.1em;
    margin-right: 0;
  }
}

.nav__link.active button {
  opacity: 1;
}

.nav__link.active button .bx-home-alt-2 {
  color: var(--secondary-color);
  text-shadow: 0 0 15px var(--secondary-color), 0 0 30px var(--secondary-color),
    0 0 45px var(--secondary-color), 0 0 60px var(--secondary-color);
}

.nav__link:nth-child(1).active ~ .nav__light {
  background-color: var(--secondary-color);
}

.nav__link.active button .bx-heart {
  color: var(--primary-color);
  text-shadow: 0 0 15px var(--primary-color), 0 0 30px var(--primary-color),
    0 0 45px var(--primary-color), 0 0 60px var(--primary-color);
}

.nav__link:nth-child(1).active ~ .nav__light {
  background-color: var(--secondary-color);
}

.nav__link.active a .bx-heart {
  color: var(--primary-color);
  text-shadow: 0 0 15px var(--primary-color), 0 0 30px var(--primary-color),
    0 0 45px var(--primary-color), 0 0 60px var(--primary-color);
}

.nav__link:nth-child(2).active ~ .nav__light {
  background-color: var(--primary-color);
}

button.banner-next,
button.banner-play,
button.banner-previous {
  background-color: transparent;
  border: none;
}

.music-card {
  transition: background-color 0.3s ease; /* Durée de la transition */
}

.music-card:hover {
  background-color: var(--gradient-20);
}

.banner-btn {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px !important;
  padding-right: 80px;
}

@media screen and (max-width: 720px) {
  .banner-btn {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px !important;
    padding-right: 0;
  }
}

svg#play-btn,
svg#next-btn,
svg#prev-btn {
  width: 13px;
}
.hidden{
  display: none;
}
