/* General Settings */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #060b28;
  --bg-color-gradient: hsl(231, 74%, 10%);
  --primary-color: #fa64b2;
  --secondary-color: #4371c5;

  --text-color: hsl(0, 0%, 100%);
  --text-transparent: hsl(0, 0%, 70%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: var(--text-color);
}

h6 {
  color: var(--text-transparent);
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0 50px 0;

  background: linear-gradient(to bottom, var(--bg-color), rgba(255, 0, 0, 0));
}

.header img {
  width: 40px;
  height: 100%;
}

/* Header - Mobile */

@media screen and (max-width: 720px) {
  .header {
    padding: 10px 0 50px 0;
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px 0;
}

/* Music Container */

.music-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px 200px;
}

.music-card img {
  max-width: 100px;
  border-radius: 10%;
  margin-right: 20px;
}
.music-info {
  color: var(--text-color);
  flex: 1;
  margin-right: 10px;
}

.music-info p {
  color: var(--text-transparent);
}

.music-card .play button {
  padding-bottom: -2px !important;
  border: none;
}

.music-card .play button {
  background: transparent;
}

.music-card .play svg {
  fill: var(--primary-color);
  background-color: var(--bg-color);
}

/* Music Container - Mobile */

@media screen and (max-width: 720px) {
  .music-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
  }

  .music-card img {
    max-width: 60px;
    border-radius: 10%;
  }

  .music-info {
    flex: 1;
    margin-right: 10px;
  }

  .music-card .play svg {
    fill: var(--primary-color);
    background-color: var(--bg-color);
  }
}

/* Music Banner */

.music-banner-off {
  position: fixed;
  top: -100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.music-banner-on {
  position: fixed;
  top: 80vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
